@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --primary: #fe2c55;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', 'Arial', 'Tahoma', 'PingFangSC', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #000;
}
