.wrapper {
  position: fixed;
  min-height: 100vh;
  height: 100%;
  width: 240px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  transition: width 0.4s ease;
  z-index: 3;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 72px;
  }
}

.wrapper-content {
  overflow-y: auto;
  height: calc(100vh - 113.69px);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge cũ */
}

.wrapper-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge mới */
}
