.wrapper {
  width: 936px;
}

.preview-header {
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 700;
}

.preview-container {
  width: 100%;
  border: solid 1px #00000014;
  border-radius: 8px;
  padding: 20px;
}

.input-container {
  margin-top: 12px;
  width: 894px;
  border: solid 1px #00000014;
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 12px 0px;
}

.input-content {
  width: 894px;
  height: 105px;
  border: none;
  padding: 0px 12px;
  resize: none;
  vertical-align: top;
  background-color: transparent;
  outline: none;
}

.input-button {
  background-color: transparent;
  color: #000000a6;
  border: none;
  margin: 4px 0px 4px 12px;
  font-size: 14px;
  cursor: pointer;
}

.input-hashtags {
}

.input-mention {
}

.preview-checkbox {
  margin-top: 12px;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox {
  padding-left: 24px;
  position: relative;
  margin-right: 16px;
  cursor: pointer;
}

.checkbox {
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0px;
  border: 3px solid #0000002b;
}

.custom-checkbox input:checked + .checkbox {
  border: 5px solid #fe2c55;
}

.preview-footer {
  margin-top: 30px;
  font-size: 14px;
}

.preview-post {
  width: 200px;
  height: 36px;
  padding: 1px 12px;
  border: none;
  background-color: #fe2c55;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.preview-discard {
  margin-left: 8px;
  width: 74px;
  height: 34px;
  border-radius: 8px;
  color: #000;
  padding: 1px 12px;
  cursor: pointer;
  background-origin: #0000000d;
  border: none;
}

.preview-discard:hover {
  background-color: #0000001a;
}
