.sidebar-header {
  position: sticky;
  top: 0;
  padding: 24px 22px 8px;
  background-color: #000;
  transition: width 0.3s ease;
}

.logo {
  height: 42px;
  cursor: pointer;
}

.search-button {
  margin-top: 4px;
  height: 40px;
  width: 208px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #1f1f1f;
  border: none;
  margin-left: -8px;
  cursor: pointer;
  transition: width 0.4s ease;

  @media (max-width: 1024px) {
    width: 40px;
  }
}

.search-button-content {
  color: #ffffff66;
  font-size: 14px;
  margin-right: 53.16px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.search-button-icon {
  color: #ffffff;
  width: 16px;
  height: 16px;
  padding: 11px;
}
