.sidebar-content {
  padding: 0px 8px 8px;
}

.sidebar-content-element {
  margin-bottom: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: left;
  height: 40px;
  width: 208px;
  background-color: #000;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding-left: 4px;
  margin-left: 6px;
}

.sidebar-content-element.sidebar-nav-active {
  color: rgb(255, 59, 92);
}

.sidebar-content-element:hover {
  background-color: #1f1f1f;
}

.sidebar-content-icon {
  width: 21px;
  height: 23.47px;
  margin-left: 6px;
}

.sidebar-nav-content {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.sidebar-follower {
  padding: 8px;
}

.sidebar-follower-content {
  font-size: 14px;
  color: #ffffffbf;
  margin: 10px 0px;
}

.following-content {
  margin-top: 4px;
  font-size: 14px;
  margin-left: 16px;
  color: #ffffffe6;
}

.following-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .sidebar-content {
    width: 58px;
  }

  .sidebar-content-element {
    width: 40px;
  }

  .sidebar-nav-content {
    display: none;
  }
}
