.sidebar-footer{
    margin: 16px 0px 8px 54px;
    color: #ffffff80;
    
}
.sidebar-footer-active{
    margin: 16px 0px 8px;
    
}

.button-active{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 700;
    background-color: #000;
    border: none;
}

.button-nonactive{
    color: #ffffff80;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 700;
    background-color: #000;
    border: none;
}

.sidebar-footer-tiktok{
    font-size: 12px;
    color: #ffffff80;
    line-height: 24px;
    cursor: pointer;
    font-weight: 700;
    background-color: #000;
    border: none;
}