.wrapper{
    height: calc(100vh - 32px);
    width: 992px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 16px;
}

.video-container{
    display: inline-block;
    position: relative;
    max-width: 70%;
    max-height: 100%;
    border-radius: 12px;
    cursor:pointer;
}


.video{
    max-width: 700px;
    max-height: calc(100vh - 32px);
    display: block; 
    object-fit: coer;
    border-radius: 12px;
}

.progress-dot{
    position: absolute;
    background-color: #fff;
    width: 11px;
    height: 11px;
    bottom: -1.5px;
    border-radius: 50%;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.progress-container{
    position: absolute;
    height: 4px;
    width: calc(100% - 8px);
    left: 4px;
    bottom: 0px;
    transition: height 150ms ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.progress-bar{
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    border-bottom-right-radius: 2.5% 100%;
    border-bottom-left-radius: 2.5% 100%;
    overflow: hidden;
}

.progress-container:hover .progress-dot{
    opacity: 1;
}

.progress-container:hover, .progress-container:hover .progress-bar{
    height: 6px;
    width: calc(100% - 2px);
    left: 1px;
    border-bottom-right-radius: 3% 100%;
    border-bottom-left-radius: 3% 100%;
}

.progress{
    position: absolute;
    bottom: 0;
    height: 100%;
}

.progress-static{
    background-color: #ffffff66;
    border-bottom-right-radius: 100px;
    width: 100%;
}

.progress-run{
    background-color: #fe2c55;
    z-index: 1;
}



.pause-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000090;
    width: 100px;
    height: 100px;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.pause-container-enter{
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.4) ;
    transform-origin: center;
}

.pause-container-enter-active{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) ;
    transition: all 700ms ease;
    transform-origin: center;
}

.pause-container-exit{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) ;
    transform-origin: center;
}

.pause-container-exit-active{
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 500ms ease;
    transform-origin: center;
}

.volume-container{
    display: flex;
    position:absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
}

.volume-icon{
    color: #fff;
    font-size: 18px;
    height: 30px;
    padding-right: 8px;
    background-color: transparent;
    border: none;
}

.volume-container:hover .volume-slider-container{
    display: flex;
}

.volume-slider-container{
    display: none;
    background-color: #00000050;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 60px;
    height: 25px;
    border-radius: 12px;
}

.volume-slider{
    -webkit-appearance: none;
    width: 44px;
    height: 2px;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.setting-wrapper{
    position: absolute;
    top: 0px;
    left: 86%;
}

.setting-button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 22px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.setting-button:hover {
    background-color: #ffffff30;
}

.setting-container{
    background-color: #3a3a3a;
    border: 0.1px solid #696969;
    border-radius: 12px;
    color: #fff;
    padding: 4px;
    margin-top: 8px;
    position:relative;
}

.setting-container::before{
    content: "";
    border-width: 10px 11px;
    border-style: solid;
    border-color: transparent transparent #3a3a3a transparent;
    position: absolute;
    top: -19px;
    left: 12px;
    z-index: 1;
}
.setting-container::after{
    content: "";
    border-width: 11px 12px;
    border-style: solid;
    border-color: transparent transparent #696969 transparent;
    position: absolute;
    top: -22px;
    left: 11px;
}

.setting-element{
    display: flex;
    padding: 0px 14px;
    line-height: 50px;
    align-items: center;
    width: 224px;
    border-radius: 12px
}

.setting-element:hover{
    background-color: #535353;
}

.setting-icon{
    margin-right: 8px;
}

.heartIcon-container{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: transparent;
    font-size: 100px;
    color: #fe2c66;
    z-index: 2;
    border: none;
    cursor: pointer;
}

@keyframes heart-pop {
  0% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  30% {
    transform: translate(-50%, -50%) scale(0.85);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}


.heart-container-enter{
    animation: heart-pop 0.5s ease forwards;
}

.heart-container-enter-active{
}

.heart-container-exit{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) ;
}

.heart-container-exit-active{
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
    transition: all 600ms ease;
}
