.wrapper {
  width: 1224px;
  margin-top: 20px;
}

.video-header {
  display: flex;
}

.video-buttons {
  display: flex;
  position: relative;
}

.video-button {
  height: 44px;
  padding: 0px 32px;
  border: none;
  background-color: transparent;
  color: #ffffff80;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.video-button-active {
  color: #fff;
}

.underline {
  content: '';
  border-bottom: solid #fff 2px;
  position: absolute;
  bottom: 0px;
  transition: all 0.3s ease;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px 16px;
  margin-top: 32px;
}

.video-element {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1272px) {
  .video-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .video-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
