.wrapper {
  width: 1232px;
  height: 100vh;
  padding: 16px 176px 16px 64px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.4s ease;
  position: relative;
}

.video-container {
  display: flex;
  gap: 16px;
}
