.input-submit {
  background-color: #252525;
  color: #6f6f6f;
  width: 363px;
  height: 46px;
  margin-top: 21px;
  border: none;
  font-weight: 800;
  font-size: 16px;
  border-radius: 4px;
}

.input-submit-active {
  background-color: #ff3b5c;
  color: #fff;
  width: 363px;
  height: 46px;
  margin-top: 21px;
  border: none;
  font-weight: 800;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
